In [1]:
import os
os.chdir('..')
print(os.getcwd())

/Users/alros/Desktop/side02

In [2]:
import numpy as np
import pandas as pd
from CustFun import ipfGLCoefficient,getTeamLabel,getGenderLabel,getYearLabel

### 2001年轉成CSV檔

In [3]:
def worldGame2001(path:str)->pd.DataFrame:
    file = open(path, "r")
    content = file.read()
    file.close()

    #僅保留需要的欄位
    s = 'old bwt Team sq bp dl Total points'

    lst_cols = []
    dic_cols = {}
    for col in s.split(' '):
        lst_cols.append(col)
        dic_cols[col] = []

    lst_cols.append('wc')
    dic_cols['wc'] = []

    #將不同量集分開
    lst = content.split('\n')
    dic_lifters = {}

    curr_quantity = ''
    for lifter in lst[1:]:
        if 'Wom' in lifter or 'Men' in lifter:
            curr_quantity = lifter.lower()
            dic_lifters[curr_quantity]=[]
        else:
            #Disq 代表至少一項沒成績，不用加入
            if 'Disq' not in lifter:
                dic_lifters[curr_quantity].append(lifter)

    # #過濾掉不需要的資訊並轉成DataFrame
    for key in dic_lifters.keys():
        # print(key)
        ary = None
        for lifer in dic_lifters[key]:

            is_country = 0 
            i=0
            for s in lifer.split(' ')[1:]:
                try:
                    # print(s)
                    if ',' in s:
                        dic_cols[lst_cols[i]].append(float(s.replace(',','.')))
                        i+=1
                    else:
                        dic_cols[lst_cols[i]].append(float(s))
                        i+=1
                        if is_country == 0:
                            is_country = 1
                except:
                    if is_country == 1:
                        dic_cols[lst_cols[i]].append(s)
                        i+=1
                        is_country=2
                    None
            dic_cols[lst_cols[-1]].append(key)

    df = pd.DataFrame(data=dic_cols)
    df['old'] = 2001 - (df['old']+1900)
    df['old'] = df['old'].astype(int)
    df['year'] = 2001
    df = df.rename(columns={ col:col.lower() for col in df.columns})
    df = df[['year','wc','old', 'team', 'bwt', 'sq', 'bp', 'dl', 'total', 'points']]
    return df

In [4]:
df = worldGame2001('./raw_data/2001.txt')
df.to_csv('./preprocess/worldgame_2001.csv')
df

,year,wc,old,team,bwt,sq,bp,dl,total,points
0,2001,wom-1,38,FIN,43.9,170.0,72.5,162.5,405.0,571.13
1,2001,wom-1,24,TPE,47.9,175.0,90.0,155.0,420.0,557.13
2,2001,wom-1,31,JPN,47.3,145.0,117.5,145.0,407.5,545.52
3,2001,wom-1,32,SWE,51.4,170.0,92.5,170.0,432.5,543.99
4,2001,wom-1,18,RUS,48.7,165.0,87.5,160.0,412.5,540.49
5,2001,wom-1,19,TPE,43.6,152.5,67.5,160.0,380.0,538.30
6,2001,wom-1,31,TPE,51.5,165.0,97.5,160.0,422.5,530.66
7,2001,wom-1,17,USA,50.2,157.5,90.0,160.0,407.5,521.92
8,2001,wom-1,33,USA,49.6,150.0,82.5,145.0,377.5,487.91
9,2001,wom-1,34,JPN,43.5,142.5,70.0,130.0,342.5,485.93
10,2001,wom-1,45,CAN,51.6,142.5,67.5,157.5,367.5,460.88
11,2001,wom-2,24,RUS,67.1,247.5,148.0,225.0,620.0,635.50
12,2001,wom-2,27,RUS,61.2,210.0,115.0,212.5,537.5,590.17
13,2001,wom-2,33,FIN,55.5,185.0,87.5,200.0,472.5,559.86
14,2001,wom-2,38,GER,59.4,187.5,90.0,215.0,492.5,553.37
15,2001,wom-2,32,JPN,58.7,190.0,102.5,185.0,477.5,541.48
16,2001,wom-2,20,TPE,63.8,180.0,107.5,197.5,485.0,515.94
17,2001,wom-2,22,UZB,59.5,185.0,87.5,170.0,442.5,496.52
18,2001,wom-2,31,USA,59.6,155.0,100.0,175.0,430.0,481.90
19,2001,wom-2,42,USA,59.7,165.0,87.5,170.0,422.5,472.86
20,2001,wom-2,40,JPN,55.1,132.5,110.0,150.0,392.5,467.70
21,2001,wom-2,32,CAN,66.3,140.0,80.0,140.0,360.0,372.20
22,2001,wom-3,26,RUS,74.9,220.0,170.0,215.0,605.0,575.59
23,2001,wom-3,37,RUS,89.5,230.0,160.0,235.0,625.0,541.31
24,2001,wom-3,30,TPE,112.5,265.0,177.5,225.0,667.5,540.20
25,2001,wom-3,40,Norwegen,69.0,205.0,112.5,200.0,517.5,519.98
26,2001,wom-3,35,France,69.3,200.0,97.5,220.0,517.5,518.43
27,2001,wom-3,29,USA,82.3,225.0,115.0,220.0,560.0,504.61
28,2001,wom-3,53,USA,103.5,225.0,132.5,212.5,570.0,470.07
29,2001,wom-3,29,USA,139.7,255.0,137.5,202.5,595.0,463.26
30,2001,wom-3,30,JPN,85.3,177.5,90.0,182.5,450.0,398.29
31,2001,wom-3,21,JPN,68.0,140.0,72.5,135.0,347.5,352.81
32,2001,men-1,28,Kazahkstan,67.5,305.0,217.5,290.0,812.5,626.43
33,2001,men-1,28,RUS,55.8,245.0,172.5,220.0,637.5,582.35
34,2001,men-1,38,RUS,60.3,270.0,142.5,250.0,662.5,562.46
35,2001,men-1,26,TPE,55.5,247.5,115.0,240.0,602.5,553.33
36,2001,men-1,31,JPN,51.7,200.0,147.5,200.0,547.5,540.54
37,2001,men-1,35,USA,51.5,190.0,127.5,222.5,540.0,535.30
38,2001,men-1,19,TPE,59.0,225.0,152.5,240.0,617.5,534.87
39,2001,men-1,57,JPN,51.6,220.0,95.0,220.0,535.0,529.27
40,2001,men-1,29,Norwegen,58.1,235.0,130.0,220.0,585.0,514.03
41,2001,men-1,36,USA,67.4,235.0,155.0,247.5,637.5,492.08
42,2001,men-1,23,USA,67.3,235.0,137.5,237.5,610.0,471.46
43,2001,men-2,32,RUS,74.6,310.0,207.5,305.0,822.5,588.25
44,2001,men-2,26,RUS,89.0,345.0,240.0,320.0,905.0,581.10
45,2001,men-2,32,RUS,82.2,327.5,212.5,312.5,852.5,572.36
46,2001,men-2,40,CzechRepublic,89.5,342.5,227.5,305.0,875.0,560.17
47,2001,men-2,31,UKR,82.3,310.0,215.0,280.0,805.0,540.07
48,2001,men-2,26,Kazahkstan,74.8,292.5,170.0,292.5,755.0,538.99
49,2001,men-2,37,USA,89.3,335.0,200.0,302.5,837.5,536.83
50,2001,men-2,36,JPN,74.9,292.5,195.0,265.0,752.5,536.68
51,2001,men-2,26,JPN,82.1,285.0,190.0,272.5,747.5,502.24
52,2001,men-3,29,JPN,131.8,415.0,302.5,310.0,1027.5,579.71
53,2001,men-3,38,USA,145.2,380.0,265.0,382.5,1027.5,571.08
54,2001,men-3,34,SWE,114.9,390.0,237.5,355.0,982.5,571.02
55,2001,men-3,22,RUS,104.4,375.0,235.0,342.5,952.5,570.35
56,2001,men-3,48,UKR,134.5,395.0,225.0,370.0,990.0,556.67
57,2001,men-3,26,RUS,128.3,380.0,255.0,330.0,965.0,547.15
58,2001,men-3,31,Norwegen,98.5,340.0,205.0,332.5,877.5,537.29
59,2001,men-3,40,JPN,90.3,270.0,227.5,280.0,777.5,495.50

### 將2005的比賽資料轉成 csv檔

In [5]:
def worldGame2005(path:str,is_men:bool)->pd.DataFrame:

    file = open(path, "r")
    content = file.read()
    file.close()

    #僅保留需要的欄位
    s = 'old Team Bwt IPF_GL_Cf. Sq BP DL Total IPF_GL'

    lst_cols = []
    dic_cols = {}
    for col in s.split(' '):
        lst_cols.append(col)
        dic_cols[col] = []

    lst_cols.append('wc')
    dic_cols['wc'] = []

    #將不同量集分開
    lst = content.split('\n')
    dic_lifters = {}

    curr_quantity = ''
    for lifter in lst[1:]:
        if 'kg' in lifter:
            
            curr_quantity = lifter.replace(' - ','').replace(' ','').replace('kg','').replace(',','.')
            dic_lifters[curr_quantity]=[]
        else:
            #Disq 代表至少一項沒成績，不用加入
            if 'Disq' not in lifter:
                dic_lifters[curr_quantity].append(lifter)

    #過濾掉不需要的資訊並轉成DataFrame
    for key in dic_lifters.keys():
        # print(key)
        ary = None
        for lifer in dic_lifters[key]:

            is_country = 0 
            i=0
            for s in lifer.split(' ')[1:]:
                try:
                    # print(s)
                    if ',' in s:
                        dic_cols[lst_cols[i]].append(float(s.replace(',','.')))
                        i+=1
                    elif '#' in s: #代表成功後，加重後試舉失敗
                        dic_cols[lst_cols[i]].append(0)
                        i+=1
                    else:
                        dic_cols[lst_cols[i]].append(float(s))
                        i+=1
                        if is_country == 0:
                            is_country = 1
                except:
                    if is_country == 1:
                        dic_cols[lst_cols[i]].append(s)
                        i+=1
                        is_country=2
                    None
            dic_cols[lst_cols[-1]].append(key)
            
    df = pd.DataFrame(data=dic_cols)
    df['old'] = 2005 - df['old']
    df['old'] = df['old'].astype(int)
    df['year'] = 2005
    if is_men:
        df['gender'] = 'men'
    else:
        df['gender'] = 'women'
    df = df.rename(columns={ col:col.lower() for col in df.columns})
    df = df[['year','wc','gender','old', 'team', 'bwt', 'ipf_gl_cf.', 'sq', 'bp','dl', 'total', 'ipf_gl']]
    return df

In [6]:
dfWomen = worldGame2005('./raw_data/2005women.txt',False)
dfMen = worldGame2005('./raw_data/2005men.txt',True)
df = pd.concat([dfWomen,dfMen])
df.to_csv('./preprocess/worldgame_2005.csv')
df

,year,wc,gender,old,team,bwt,ipf_gl_cf.,sq,bp,dl,total,ipf_gl
0,2005,52,women,26,RUS,51.65,1.2532,220.0,127.5,147.5,495.0,620.30
1,2005,52,women,22,UKR,51.80,1.2504,182.5,117.5,172.5,472.5,590.81
2,2005,52,women,23,TPE,45.35,1.3794,172.5,72.5,182.5,427.5,589.67
3,2005,52,women,35,JPN,47.40,1.3367,157.5,125.0,157.5,440.0,588.14
4,2005,52,women,42,FIN,43.80,1.4123,160.0,80.0,157.5,397.5,561.38
5,2005,52,women,30,FRA,52.00,1.2466,180.0,97.5,170.0,447.5,557.85
6,2005,52,women,21,USA,51.70,1.2522,167.5,105.0,170.0,442.5,554.09
7,2005,52,women,25,TPE,49.65,1.2915,162.5,77.5,180.0,420.0,542.43
8,2005,52,women,15,USA,52.00,1.2466,150.0,70.0,157.5,377.5,470.59
9,2005,52,women,40,GER,44.75,1.3921,130.0,82.5,120.0,332.5,462.87
10,2005,67.5,women,27,UKR,62.30,1.0831,205.0,145.0,225.0,575.0,622.78
11,2005,67.5,women,33,USA,66.95,1.0267,222.5,142.5,227.5,592.5,608.29
12,2005,67.5,women,26,UZB,60.45,1.1085,195.0,115.0,200.0,510.0,565.33
13,2005,67.5,women,36,JPN,55.35,1.1875,180.0,110.0,175.0,465.0,552.16
14,2005,67.5,women,40,FIN,59.65,1.1200,195.0,90.0,197.5,482.5,540.37
15,2005,67.5,women,24,GER,65.40,1.0444,182.5,130.0,192.5,505.0,527.42
16,2005,67.5,women,41,GBR,65.85,1.0391,175.0,135.0,195.0,505.0,524.74
17,2005,67.5,women,34,FRA,56.70,1.1652,152.5,95.0,170.0,417.5,486.47
18,2005,67.5+,women,28,RUS,67.70,1.0185,247.5,150.0,225.0,622.5,634.01
19,2005,67.5+,women,37,RUS,123.45,0.7957,305.0,192.5,240.0,737.5,586.79
20,2005,67.5+,women,24,UKR,87.55,0.8744,262.5,172.5,232.5,667.5,583.66
21,2005,67.5+,women,44,NOR,74.30,0.9563,230.0,130.0,220.0,580.0,554.65
22,2005,67.5+,women,35,UKR,73.10,0.9663,200.0,137.5,232.5,570.0,550.79
23,2005,67.5+,women,32,NED,85.45,0.8844,245.0,165.0,212.5,622.5,550.50
24,2005,67.5+,women,25,USA,92.45,0.8549,252.5,157.5,230.0,640.0,547.10
25,2005,67.5+,women,38,NED,104.95,0.8218,240.0,170.0,215.0,625.0,513.62
26,2005,67.5+,women,33,USA,151.60,0.7691,275.0,120.0,225.0,620.0,476.84
0,2005,67.5,men,23,RUS,61.20,0.8378,312.5,215.0,230.0,757.5,634.63
1,2005,67.5,men,23,TPE,59.75,0.8562,252.5,180.0,277.5,710.0,607.86
2,2005,67.5,men,27,POL,55.85,0.9127,245.0,150.0,205.0,600.0,547.62
3,2005,67.5,men,29,SWE,67.25,0.7734,272.5,187.5,230.0,690.0,533.61
4,2005,67.5,men,34,GBR,67.45,0.7715,282.5,175.0,230.0,687.5,530.37
5,2005,67.5,men,30,FRA,67.50,0.7710,247.5,152.5,280.0,680.0,524.28
6,2005,67.5,men,30,CAN,56.20,0.9072,215.0,145.0,215.0,575.0,521.64
7,2005,67.5,men,24,TPE,67.50,0.7710,230.0,170.0,255.0,655.0,505.00
8,2005,90,men,30,RUS,89.10,0.6417,365.0,247.5,345.0,957.5,614.42
9,2005,90,men,36,RUS,74.90,0.7132,320.0,217.5,322.5,860.0,613.35
10,2005,90,men,40,POL,84.75,0.6595,340.0,262.5,300.0,902.5,595.15
11,2005,90,men,34,USA,74.80,0.7139,335.0,232.5,260.0,827.5,590.75
12,2005,90,men,24,POL,89.80,0.6391,355.0,230.0,310.0,895.0,571.99
13,2005,90,men,31,KAZ,76.55,0.7026,310.0,185.0,312.5,807.5,567.34
14,2005,90,men,38,USA,89.45,0.6404,322.5,210.0,295.0,827.5,529.93
15,2005,90,men,35,RSA,90.00,0.6384,300.0,232.5,280.0,812.5,518.70
16,2005,90,men,27,GER,86.65,0.6513,300.0,190.0,280.0,770.0,501.50
17,2005,90+,men,26,RUS,111.15,0.5867,405.0,275.0,372.5,52.5,617.44
18,2005,90+,men,27,USA,154.40,0.5510,420.0,330.0,362.5,112.5,612.98
19,2005,90+,men,24,UKR,97.95,0.6138,360.0,282.5,347.5,990.0,607.61
20,2005,90+,men,38,SWE,127.15,0.5680,422.5,270.0,350.0,42.5,592.08
21,2005,90+,men,39,USA,147.45,0.5547,387.5,272.5,372.5,32.5,572.67
22,2005,90+,men,33,LUX,98.25,0.6130,355.0,235.0,342.5,932.5,571.62
23,2005,90+,men,26,SWE,151.20,0.5527,352.5,312.5,310.0,975.0,538.88
24,2005,90+,men,22,GER,137.95,0.5601,355.0,265.0,340.0,960.0,537.64
25,2005,90+,men,36,NOR,125.00,0.5698,350.0,242.5,335.0,927.5,528.48
26,2005,90+,men,24,GER,121.85,0.5730,385.0,215.0,320.0,920.0,527.11
27,2005,90+,men,38,HUN,141.60,0.5579,330.0,210.0,330.0,870.0,485.37

### 將2009的比賽資料轉成 csv檔

In [7]:
def worldGame2009(path:str,is_men:bool)->pd.DataFrame:

    file = open(path, "r")
    content = file.read()
    file.close()

    #僅保留需要的欄位
    s = 'old Team Bwt IPF_GL_Cf. Sq BP DL Total IPF_GL Pts'

    lst_cols = []
    dic_cols = {}
    for col in s.split(' '):
        lst_cols.append(col)
        dic_cols[col] = []

    lst_cols.append('wc')
    dic_cols['wc'] = []

    #將不同量集分開
    lst = content.split('\n')
    dic_lifters = {}

    curr_quantity = ''
    for lifter in lst[1:]:
        if ' - MW' in lifter or ' - LW' in lifter or ' - HW' in lifter or ' - SHW' in lifter:
            curr_quantity = lifter.replace(' - ','')
            dic_lifters[curr_quantity]=[]
        else:
            #Out 代表至少一項沒成績，不用加入
            if 'Out' not in lifter:
                dic_lifters[curr_quantity].append(lifter)

    #過濾掉不需要的資訊並轉成DataFrame
    for key in dic_lifters.keys():
        # print(key)
        ary = None
        for lifer in dic_lifters[key]:

            is_country = 0 
            i=0
            for s in lifer.split(' ')[1:]:
                try:
                    # print(s)
                    if ',' in s:
                        dic_cols[lst_cols[i]].append(float(s.replace(',','.')))
                        i+=1
                    # elif '-' in s: #代表成功後，加重後試舉失敗
                    #     dic_cols[lst_cols[i]].append(0)
                    #     i+=1
                    else:
                        dic_cols[lst_cols[i]].append(float(s))
                        i+=1
                        if is_country == 0:
                            is_country = 1
                except:
                    if is_country == 1:
                        dic_cols[lst_cols[i]].append(s)
                        i+=1
                        is_country=2
                    None
            dic_cols[lst_cols[-1]].append(key)
            
    # for key,val in dic_cols.items():
    #     print(key,len(val),val)

    df = pd.DataFrame(data=dic_cols)
    df['old'] = 2009 - df['old']
    df['old'] = df['old'].astype(int)
    df['year'] = 2009
    if is_men:
        df['gender'] = 'men'
    else:
        df['gender'] = 'women'
    df = df.rename(columns={ col:col.lower() for col in df.columns})
    df = df[['year','wc','gender','old', 'team', 'bwt', 'ipf_gl_cf.', 'sq', 'bp', 'dl', 'total',
        'ipf_gl', 'pts']]
    return df

In [8]:
dfWomen = worldGame2009('./raw_data/2009women.txt',False)
dfMen = worldGame2009('./raw_data/2009men.txt',True)
df = pd.concat([dfWomen,dfMen])
df.to_csv('./preprocess/worldgame_2009.csv')
df

,year,wc,gender,old,team,bwt,ipf_gl_cf.,sq,bp,dl,total,ipf_gl,pts
0,2009,LW,women,27,TPE,46.75,1.3501,207.5,92.5,195.0,495.0,668.27,12.0
1,2009,LW,women,39,JPN,47.15,1.3418,182.5,125.0,162.5,470.0,630.64,9.0
2,2009,LW,women,25,INA,51.40,1.2578,197.5,117.5,185.0,500.0,628.90,8.0
3,2009,LW,women,29,TPE,50.45,1.2759,187.5,87.5,202.5,477.5,609.26,7.0
4,2009,LW,women,46,FIN,45.90,1.3678,175.0,90.0,152.5,417.5,571.05,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
31,2009,SHW,men,32,NOR,110.00,0.5885,370.0,280.0,320.0,970.0,570.84,6.0
32,2009,SHW,men,29,CZE,144.05,0.5565,422.5,285.0,315.0,1022.5,568.97,5.0
33,2009,SHW,men,34,FIN,152.00,0.5523,400.0,265.0,350.0,1015.0,560.58,4.0
34,2009,SHW,men,33,GER,133.00,0.5634,410.0,240.0,305.0,955.0,538.04,3.0
35,2009,SHW,men,37,RSA,119.90,0.5750,340.0,250.0,320.0,910.0,523.25,2.0

### 將2013的比賽資料轉成 csv檔

In [9]:
def worldGame2013(path:str,is_men:bool)->pd.DataFrame:
    df = pd.read_excel(path)
    df = df.loc[(df['Pts.']!='—')]
    df = df[['BY', 'Nation', 'Weight', 'WF', 'Squat','Bench.', 'Deadlift', 'TOTAL', 'W.Pts.','Pts.']]
    df = df.rename(columns={'BY':'old'})
    lst = df['old'].to_list()
    df['wc'] = 'Light'
    for wc in['Middle','Heavy','SuperHeavy']:
        idx = lst.index(wc)
        df.loc[df.index>=idx,'wc'] = wc
    # lst = [lst.index('Light'),lst.index('Middle'),lst.index('Heavy'),lst.index('SuperHeavy')]
    df = df.loc[(df['old'].isin(['Light','Middle','Heavy','SuperHeavy']))==False]
    df['old'] = 2013 - df['old']
    df['old'] = df['old'].astype(int)
    df['year'] = 2013
    if is_men:
        df['gender'] = 'men'
    else:
        df['gender'] = 'women'
    df = df.rename(columns={ col:col.lower() for col in df.columns})
    df = df[['year','wc','gender','old', 'nation', 'weight', 'wf', 'squat', 'bench.', 'deadlift', 'total','w.pts.', 'pts.']]
    return df

In [10]:
dfWomen = worldGame2013('./preprocess/2013_women_2.xlsx',False)
dfMen = worldGame2013('./preprocess/2013_men_2.xlsx',True)
df = pd.concat([dfWomen,dfMen])
df.to_csv('./preprocess/worldgame_2013.csv')
df

,year,wc,gender,old,nation,weight,wf,squat,bench.,deadlift,total,w.pts.,pts.
1,2013,Light,women,27,RUS,50.51,"1,2748","205,0","125,0","190,0","520,0",662.89,12
2,2013,Light,women,31,TPE,46.34,"1,3586","195,0","95,0","185,0","475,0",645.31,9
3,2013,Light,women,43,JPN,46.33,"1,3588","185,0","126,0","160,0","471,0",639.98,8
4,2013,Light,women,33,ECU,51.32,"1,2593","217,5","95,0","180,0","492,5",620.21,7
5,2013,Light,women,26,UKR,51.45,"1,2569","195,0","112,5","175,0","482,5",606.45,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...
33,2013,SuperHeavy,men,29,UKR,115.95,"0,5798","385,0","287,5","330,0","1002,5",581.24,5
34,2013,SuperHeavy,men,33,CZE,141.6,"0,5579","412,5","297,5","330,0","1040,0",580.21,4
35,2013,SuperHeavy,men,38,FIN,139.35,"0,5592","395,0","332,5","307,5","1035,0",578.77,3
36,2013,SuperHeavy,men,34,USA,122.25,"0,5726","380,0","252,5","350,0","982,5",562.53,2
37,2013,SuperHeavy,men,34,COL,108.75,"0,5906","310,0","200,0","250,0","760,0",448.85,1

### 轉換PDF檔成CSV

In [11]:
import pymupdf

In [12]:
def word_game_2017_22_PDF2DataFrame(path,end_word,is_men):
    doc = pymupdf.open(path) # open a document
    page = doc[0]

    #取得線座標
    lst_strikethrough_rect = []
    for item in page.get_drawings():
        rect = item["rect"]
        #判斷刪除線長寬
        a = abs(rect.x0-rect.x1)
        b = abs(458.8800048828125 - 474.7925109863281)
        if (abs(a-b)<=30) & (abs(rect.y1 - rect.y0) <= 1):
                lst_strikethrough_rect.append([rect.x0,rect.y0,rect.x1,rect.y1])
                # print(rect)

    #借用DataFrame特性讓數值能以y0,x0優先順序進行排序，將內容能透過座標按左至右、上到下順序展開
    dic = {key:[] for key in ['x0','y0','x1','y1','val']}
    
    words = page.get_text("words")  # 取得所有單字及座標
    for word in words:
        w = list(word)
        w[4] = w[4].replace(',','.')
        for rect in lst_strikethrough_rect:
            if (abs((w[0]-rect[0]))<=2) and ((w[1]<rect[1]) and (rect[1]<w[3])) and ((w[1]<rect[3]) and (rect[3]<w[3])):
                w[4]='0'
                break
        dic['x0'].append(w[0])
        dic['y0'].append(w[1])
        dic['x1'].append(w[2])
        dic['y1'].append(w[3])
        dic['val'].append(w[4])
    df = pd.DataFrame(dic).sort_values(['y0','x0'],ascending=True)
            
    doc.close()
    df = df.reset_index(drop=True)

    #將展開的值轉成DataFrame
    if '2017' in path:
        lst_cols = 'no. old Team Bwt IPF_GL_Cf. lot SQ1 SQ2 SQ3 SQ_RK BP1 BP2 BP3 BP_RK DL1 DL2 DL3 DL_RK Total IPF_GL WC'.split(" ")
    else:
        lst_cols = 'no. old Team Bwt IPF_GL_Cf. lot SQ1 SQ2 SQ3 SQ_RK BP1 BP2 BP3 BP_RK DL1 DL2 DL3 DL_RK Total IPF_GL Pts WC'.split(" ")
        
    dic = {col:[] for col in lst_cols}

    lst_group = ['Light','Middle','Heavy','SuperHeavy',end_word]

    #分組並濾掉不需要的特殊字元
    dym_col_count = len(lst_cols)-1
    pattern1 = r"[A-Z][a-z]+|[A-Z][a-z]*-[A-Z][a-z]*|[A-Z][a-z]+[A-Z][a-z]+|[A-Z]\.[A-Z]\.|[a-z]+"
    pattern2 = r"\-[cj]|\-[w]|\-[wj]|\-[w][1]|\-[wg]"
    for i in range(len(lst_group)-1):
        d = df.loc[df.loc[df['val']==lst_group[i]].index[0]: df.loc[df['val']==lst_group[i+1]].index[0]-1]
        d = d.loc[d['val'].str.match(pattern1)==False]
        d = d.loc[d['val'].str.match(pattern2)==False]
        d = d.reset_index(drop=True)
        j=0
        
        while(j+dym_col_count<=len(d)):
            for k in range(0,dym_col_count):
                dic[lst_cols[k]].append(d.loc[j]['val'].split("-")[0])
            # print(d[j:j+20]['val'].to_list())
                j+=1   
            dic[lst_cols[-1]].append(lst_group[i])

    # 保留最大的 SQ BP DL 跟去除沒成績的參賽者
    df =  pd.DataFrame(dic)
    for item in ['SQ','BP','DL']:
        lst = [item+str(i)for i in range(1,4)]
        df[item] = df[lst].max(axis=1)
        df = df.drop(columns=lst)
        df = df.loc[((df[item]!='X') & (df[item]!='0') & (df[item]!=0))] 
    df = df.loc[df['Total']!='DD']
    if is_men:
        df['gender'] = 'men'
    else:
        df['gender'] = 'women'
    return df

### 將2017的比賽資料轉成 csv檔

In [13]:
dfMen = word_game_2017_22_PDF2DataFrame("./raw_data/2017men.pdf",'Abbreviations:',True)
dfWomen = word_game_2017_22_PDF2DataFrame("./raw_data/2017women.pdf",'Abbreviations:',False)

df = pd.concat([dfWomen,dfMen])
df.to_csv('./preprocess/worldgame_2017.csv')
df

,no.,old,Team,Bwt,IPF_GL_Cf.,lot,SQ_RK,BP_RK,DL_RK,Total,IPF_GL,WC,SQ,BP,DL,gender
0,1.,1982,RUS,55.86,0.9126,5,1,1,2,742.5,677.61,Light,290.0,192.5,260.0,women
1,2.,1975,FRA,65.62,0.7889,1,4,9,1,772.5,609.43,Light,290.0,167.5,315.0,women
2,3.,1995,USA,65.42,0.7909,7,2,4,6,770.0,608.99,Light,312.5,200.0,257.5,women
3,4.,1982,TPE,64.50,0.8004,4,8,3,4,755.0,604.30,Light,265.0,210.0,280.0,women
4,5.,1983,ECU,59.25,0.8628,9,3,6,7,692.5,597.49,Light,280.0,177.5,235.0,women
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30,1.,1981,UKR,122.32,0.5724,5,2,4,3,1105.0,632.50,SuperHeavy,432.5,317.5,355.0,men
31,2.,1988,USA,166.26,0.5450,2,3,2,6,1125.0,613.13,SuperHeavy,440.0,350.0,335.0,men
32,3.,1990,KAZ,117.61,0.5777,6,5,5,2,1045.0,603.70,SuperHeavy,390.0,290.0,365.0,men
33,4.,1991,CZE,145.32,0.5558,8,4,3,5,1085.0,603.04,SuperHeavy,415.0,330.0,340.0,men
35,6.,1981,CAN,144.25,0.5564,10,6,7,7,965.0,536.93,SuperHeavy,385.0,285.0,295.0,men

### 將2022的比賽資料轉成 csv檔

In [14]:
dfMen = word_game_2017_22_PDF2DataFrame("./raw_data/2022men.pdf",'Best',True)
dfWomen = word_game_2017_22_PDF2DataFrame("./raw_data/2022women.pdf",'Best',False)

df = pd.concat([dfWomen,dfMen])
df.to_csv('./preprocess/worldgame_2022.csv')
df

,no.,old,Team,Bwt,IPF_GL_Cf.,lot,SQ_RK,BP_RK,DL_RK,Total,IPF_GL,Pts,WC,SQ,BP,DL,gender
0,1.,1970,JPN,46.35,0.2215,3,7,1,1,470.0,104.08,12,Light,172.5,127.5,170.0,women
1,2.,1999,POL,50.75,0.2071,5,1,2,7,497.5,103.05,9,Light,200.0,130.0,167.5,women
2,3.,1987,UKR,50.20,0.2088,9,3,3,2,482.5,100.72,8,Light,187.5,115.0,180.0,women
3,4.,1994,NOR,51.50,0.2050,1,4,5,6,467.5,95.85,7,Light,190.0,102.5,175.0,women
4,5.,1981,FRA,46.35,0.2215,2,10,4,5,420.0,93.01,6,Light,160.0,95.0,165.0,women
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40,6.,1995,UKR,139.40,0.0918,8,7,4,8,1100.0,100.94,5,SuperHeavy,430.0,332.5,337.5,men
41,7.,1975,USA,119.75,0.0967,2,10,6,11,992.5,96.00,4,SuperHeavy,387.5,300.0,305.0,men
42,8.,1979,CRC,143.15,0.0910,6,11,10,6,1050.0,95.58,3,SuperHeavy,395.0,295.0,360.0,men
43,9.,1993,ISL,162.35,0.0880,1,12,9,5,1082.5,95.31,2,SuperHeavy,395.0,312.5,375.0,men
44,10.,1985,EGY,190.25,0.0853,4,2,7,12,1115.0,95.08,1,SuperHeavy,482.5,332.5,300.0,men

### 合併各年度資料

In [15]:
cols = ['year','team','wc','gender','old','bwt','sq','bp','dl','total']
lst = []

#2001
df2001 = pd.read_csv('./preprocess/worldgame_2001.csv',index_col=0)
df2001['gender'] = ['women' if 'wom' in wc else 'men' for wc in df2001['wc']]
df2001['wc'] = [wc[4] for wc in df2001['wc']]
df2001 = df2001[cols]
lst.append(df2001)

#2005
df2005 = pd.read_csv('./preprocess/worldgame_2005.csv',index_col=0)
df2005 = df2005[cols]
lst.append(df2005)

#2009
df2009 = pd.read_csv('./preprocess/worldgame_2009.csv',index_col=0)
df2009 = df2009[cols]
lst.append(df2009)

#2013
df2013 = pd.read_csv('./preprocess/worldgame_2013.csv',index_col=0)
df2013 = df2013.rename(columns={'nation':'team','weight':'bwt','squat':'sq','bench.':'bp','deadlift':'dl'})
df2013['sq'] = df2013['sq'].apply(lambda x : x.replace(',','.'))
df2013['bp'] = df2013['bp'].apply(lambda x : x.replace(',','.'))
df2013['dl'] = df2013['dl'].apply(lambda x : x.replace(',','.'))
df2013['total'] = df2013['total'].apply(lambda x : x.replace(',','.'))
df2013 = df2013[cols]
lst.append(df2013)

#2017
df2017 = pd.read_csv('./preprocess/worldgame_2017.csv',index_col=0)
df2017['year'] = 2017
df2017 = df2017[['year','Team','WC','gender','old','Bwt','SQ', 'BP', 'DL', 'Total']]
df2017.columns = ['year','team','wc','gender','old','bwt','sq','bp','dl','total']
lst.append(df2017)

#2022
df2022 = pd.read_csv('./preprocess/worldgame_2022.csv',index_col=0)
df2022['year'] = 2022
df2022 = df2022[['year','Team','WC','gender','old','Bwt','SQ', 'BP', 'DL', 'Total']]
df2022.columns = ['year','team','wc','gender','old','bwt','sq','bp','dl','total']
lst.append(df2022)
dfWorldGame = pd.concat(lst)

In [16]:
dfWorldGame

    year team          wc gender   old     bwt     sq     bp     dl   total
0   2001  FIN           1  women    38   43.90  170.0   72.5  162.5   405.0
1   2001  TPE           1  women    24   47.90  175.0   90.0  155.0   420.0
2   2001  JPN           1  women    31   47.30  145.0  117.5  145.0   407.5
3   2001  SWE           1  women    32   51.40  170.0   92.5  170.0   432.5
4   2001  RUS           1  women    18   48.70  165.0   87.5  160.0   412.5
..   ...  ...         ...    ...   ...     ...    ...    ...    ...     ...
40  2022  UKR  SuperHeavy    men  1995  139.40  430.0  332.5  337.5  1100.0
41  2022  USA  SuperHeavy    men  1975  119.75  387.5  300.0  305.0   992.5
42  2022  CRC  SuperHeavy    men  1979  143.15  395.0  295.0  360.0  1050.0
43  2022  ISL  SuperHeavy    men  1993  162.35  395.0  312.5  375.0  1082.5
44  2022  EGY  SuperHeavy    men  1985  190.25  482.5  332.5  300.0  1115.0

[396 rows x 10 columns]

### 隊名改成縮寫

In [17]:
print(dfWorldGame.team.unique())
dfWorldGame.loc[dfWorldGame['team']=='France',['team']] = 'FRA'
dfWorldGame.loc[dfWorldGame['team']=='Kazahkstan',['team']] = 'KAZ'
dfWorldGame.loc[dfWorldGame['team']=='CzechRepublic',['team']] = 'CZE'
dfWorldGame.loc[dfWorldGame['team']=='Norwegen',['team']] = 'NOR'
dfWorldGame.team.unique()

['FIN' 'TPE' 'JPN' 'SWE' 'RUS' 'USA' 'CAN' 'GER' 'UZB' 'Norwegen' 'France'
 'Kazahkstan' 'CzechRepublic' 'UKR' 'FRA' 'GBR' 'NOR' 'NED' 'POL' 'KAZ'
 'RSA' 'LUX' 'HUN' 'INA' 'AUS' 'ITA' 'PHI' 'BRA' 'VEN' 'CZE' 'ECU' 'PUR'
 'DEN' 'NZL' 'COL' 'ALG' 'ISV' 'SVK' 'AUT' 'BEL' 'MGL' 'CRC' 'ISL' 'EGY']

array(['FIN', 'TPE', 'JPN', 'SWE', 'RUS', 'USA', 'CAN', 'GER', 'UZB',
       'NOR', 'FRA', 'KAZ', 'CZE', 'UKR', 'GBR', 'NED', 'POL', 'RSA',
       'LUX', 'HUN', 'INA', 'AUS', 'ITA', 'PHI', 'BRA', 'VEN', 'ECU',
       'PUR', 'DEN', 'NZL', 'COL', 'ALG', 'ISV', 'SVK', 'AUT', 'BEL',
       'MGL', 'CRC', 'ISL', 'EGY'], dtype=object)

### 重新計算IPF係數
<h> 統一採用2020年5月生效的公式(Equipped Powerlifting)</h>

<h> 參考資料： https://www.powerlifting.sport/rules/codes/info/ipf-formula </h>

<h> 計算方式：</h>

$ \text{IPF GL Coefficient} = \frac{100}{A-B \cdot e^{-C \cdot Bwt} } $

In [18]:
def ipfGLCoefficient_batch(bwt,is_men):
    return [ipfGLCoefficient(bwt[i],is_men[i]) for i in range(0,len(bwt))]

In [19]:
dfWorldGame['ipf_gl_c'] = ipfGLCoefficient_batch(dfWorldGame['bwt'].to_list(),(dfWorldGame['gender']==True).to_list())
dfWorldGame

,year,team,wc,gender,old,bwt,sq,bp,dl,total,ipf_gl_c
0,2001,FIN,1,women,38,43.90,170.0,72.5,162.5,405.0,0.2311
1,2001,TPE,1,women,24,47.90,175.0,90.0,155.0,420.0,0.2160
2,2001,JPN,1,women,31,47.30,145.0,117.5,145.0,407.5,0.2181
3,2001,SWE,1,women,32,51.40,170.0,92.5,170.0,432.5,0.2053
4,2001,RUS,1,women,18,48.70,165.0,87.5,160.0,412.5,0.2134
...,...,...,...,...,...,...,...,...,...,...,...
40,2022,UKR,SuperHeavy,men,1995,139.40,430.0,332.5,337.5,1100.0,0.1376
41,2022,USA,SuperHeavy,men,1975,119.75,387.5,300.0,305.0,992.5,0.1414
42,2022,CRC,SuperHeavy,men,1979,143.15,395.0,295.0,360.0,1050.0,0.1371
43,2022,ISL,SuperHeavy,men,1993,162.35,395.0,312.5,375.0,1082.5,0.1351
44,2022,EGY,SuperHeavy,men,1985,190.25,482.5,332.5,300.0,1115.0,0.1334

### team:轉換成代碼

In [20]:
dfWorldGame['team'] = dfWorldGame['team'].apply(lambda x: getTeamLabel(x))

### 調整WC(量級)：輕重轉換1-4

In [21]:
dfWorldGame['gender'] = dfWorldGame['gender'].apply(lambda gender: getGenderLabel(gender))

dfWorldGame.wc = dfWorldGame.wc.apply(lambda x: str(x).lower())
lst = ['lw', 'mw','hw', 'shw','light', 'middle', 'heavy', 'superheavy']
for i in range(8):
    dfWorldGame.loc[dfWorldGame['wc']==lst[i],['wc']]=str(i%4+1)

lst = ['67.5','90','90+','52','67.5','67.5+']
for i in range(6):
    dfWorldGame.loc[((dfWorldGame['wc']==lst[i]) & (dfWorldGame['gender']==int(i/3))),['wc']]=str(i%3+1)

dfWorldGame['wc'] = dfWorldGame['wc'].astype(int)

dfWorldGame['wc'].unique()

array([1, 2, 3, 4])

### 2001和2005年都只有三個量級量級，按最近年份2009的配置作重新分配量級

In [22]:
print('2001',dfWorldGame.loc[dfWorldGame['year']==2001].wc.unique())
print('2005',dfWorldGame.loc[dfWorldGame['year']==2005].wc.unique())
#用體重、性別劃分
df_tmp = dfWorldGame.loc[(dfWorldGame['year'] == 2009) & (dfWorldGame['gender']==1)]

gender_1 = [0,df_tmp.loc[df_tmp['wc']==1]['bwt'].max()+1,df_tmp.loc[df_tmp['wc']==3]['bwt'].min()+1,df_tmp.loc[df_tmp['wc']==3]['bwt'].max(),200]


df_tmp = dfWorldGame.loc[(dfWorldGame['year'] == 2009) & (dfWorldGame['gender']==0)]
gender_0=[0,df_tmp.loc[df_tmp['wc']==1]['bwt'].max()+1,df_tmp.loc[df_tmp['wc']==3]['bwt'].min()+1,df_tmp.loc[df_tmp['wc']==3]['bwt'].max()+1,200]

2001 [1 2 3]
2005 [1 2 3]

In [23]:
gender_1
dfWorldGame.loc[(dfWorldGame['year']==2001) & (dfWorldGame['gender']==1),['wc']] = pd.cut(dfWorldGame.loc[(dfWorldGame['year']==2001) & (dfWorldGame['gender']==1)]['bwt'],bins=gender_1,labels=[1,2,3,4]).to_list()
dfWorldGame.loc[(dfWorldGame['year']==2005) & (dfWorldGame['gender']==1),['wc']] = pd.cut(dfWorldGame.loc[(dfWorldGame['year']==2005) & (dfWorldGame['gender']==1)]['bwt'],bins=gender_1,labels=[1,2,3,4]).to_list()

In [24]:
gender_0
dfWorldGame.loc[(dfWorldGame['year']==2001) & (dfWorldGame['gender']==0),['wc']] = pd.cut(dfWorldGame.loc[(dfWorldGame['year']==2001) & (dfWorldGame['gender']==0)]['bwt'],bins=gender_0,labels=[1,2,3,4]).to_list()
dfWorldGame.loc[(dfWorldGame['year']==2005) & (dfWorldGame['gender']==0),['wc']] = pd.cut(dfWorldGame.loc[(dfWorldGame['year']==2005) & (dfWorldGame['gender']==0)]['bwt'],bins=gender_0,labels=[1,2,3,4]).to_list()

### 確認總和

In [25]:
dfWorldGame['total'] = dfWorldGame['total'].astype('float')
dfWorldGame['sq'] = dfWorldGame['sq'].astype('float')
dfWorldGame['bp'] = dfWorldGame['bp'].astype('float')
dfWorldGame['dl'] = dfWorldGame['dl'].astype('float')

dfWorldGame.loc[(dfWorldGame['total']<=dfWorldGame['sq']) | (dfWorldGame['total']<=dfWorldGame['bp']) | (dfWorldGame['total']<=dfWorldGame['dl'])]

    year  team  wc  gender  old     bwt     sq     bp     dl  total  ipf_gl_c
17  2005     1   4       0   26  111.15  405.0  275.0  372.5   52.5    0.1438
18  2005     2   4       0   27  154.40  420.0  330.0  362.5  112.5    0.1358
20  2005     8   4       0   38  127.15  422.5  270.0  350.0   42.5    0.1397
21  2005     2   4       0   39  147.45  387.5  272.5  372.5   32.5    0.1365

In [26]:
dfWorldGame['total'] = dfWorldGame[['sq','bp','dl']].sum(axis=1).copy()

### 根據實際資料還原名次

In [27]:
#總和相同時體重輕的勝出
lst = []
lstSameBwt = []
for cols,df in dfWorldGame.groupby(['wc','year','gender']):
    df = df.sort_values(by='total',ascending=False)
    #針對相同總和處理
    grp = df.groupby(['total'])
    if len(df) < len(grp):
        lstSameBwt = []
        for total,d in grp:
            d = d.sort_values(by='bwt',ascending=True)
            lstSameBwt.append(d)
        df = pd.concat(lstSameBwt)
        
    df['rank'] = [i+1 for i in range(len(df))]
    lst.append(df)
del lstSameBwt

dfWorldGame = pd.concat(lst)
dfWorldGame.loc[((dfWorldGame['year']==2001) & (dfWorldGame['total']==637.5)),['bwt','total','rank']]

     bwt  total  rank
33  55.8  637.5     3
41  67.4  637.5     4

## 處理年齡轉為出來統一為歲數

In [31]:
dfWorldGame.loc[dfWorldGame['old']>1911,['old']] = dfWorldGame.loc[dfWorldGame['old']>1911]['year'] - dfWorldGame.loc[dfWorldGame['old']>1911]['old']

### 處理year

In [34]:
dfWorldGame['year'] = dfWorldGame['year'].apply(lambda x: getYearLabel(x))

In [35]:
dfWorldGame.index = [i for i in range(len(dfWorldGame))]
dfWorldGame.to_csv('./preprocess/worldGame.csv')
dfWorldGame

,year,team,wc,gender,old,bwt,sq,bp,dl,total,ipf_gl_c,rank
0,0,0,1,0,28,67.50,305.0,217.5,290.0,812.5,0.1739,1
1,0,1,1,0,38,60.30,270.0,142.5,250.0,662.5,0.1852,2
2,0,1,1,0,28,55.80,245.0,172.5,220.0,637.5,0.1943,3
3,0,2,1,0,36,67.40,235.0,155.0,247.5,637.5,0.1740,4
4,0,3,1,0,19,59.00,225.0,152.5,240.0,617.5,0.1876,5
...,...,...,...,...,...,...,...,...,...,...,...,...
391,5,32,4,1,36,82.75,237.5,185.0,220.0,642.5,0.1582,5
392,5,4,4,1,30,83.50,260.0,157.5,210.0,627.5,0.1576,6
393,5,14,4,1,30,84.95,262.5,132.5,212.5,607.5,0.1566,7
394,5,7,4,1,21,76.05,265.0,140.0,195.0,600.0,0.1640,8
395,5,33,4,1,30,91.30,252.5,125.0,222.5,600.0,0.1525,9